@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Jomhuria;
  src: url("/src/assets/fonts/Jomhuria-Regular.ttf");
}

@font-face {
  font-family: Nura;
  src: url("/src/assets/fonts/Nura-SemiBold.ttf");
}

@theme {
  --font-poppins: Poppins;
  --font-jomhuria: Jomhuria;
  --font-nura: Nura;

  --color-primary: #2c2c2c;
  --color-secondary: #007ddc;
  --color-white: #ffffff;
  --color-black: #000000;

  --text-sm: 1rem;
  --text-m: 1.5rem;
  --text-lg: 2.625rem;

  --radius-sm: 6px;
  --radius-m: 24px;
  --radius-lg: 48px;
}

#nprogress .bar {
  background: #007ddc; /* YouTube-like red */
  height: 2px;
  z-index: 9999;
}

#nprogress .peg {
  /* box-shadow: 0 0 10px #007ddc, 0 0 5px #00345c; */
}
